@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #f9f7f9;
    color: #333;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
  }
  
  button {
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #2563eb;
  }